body {
    background-color: white;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto', arial;
}

.container {
    display: flex;
    flex-direction: column;
}

/* Header Area */

.header {
    display: flex;
    background-color: #1F2937;
    padding: 15px 0px 15px 80px;
    align-items: center;
}

.header-logo img{
    width: 80px;
    height: 80px;
    margin-right: auto;
}

.header-navs {
    display: flex;
    margin-left: auto;
    padding: 0px 80px 0px 0px;
}

.header-navs a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    padding:  8px;
    font-family: 'Roboto',Arial;
}

/* Main Area */

.main {
    display: flex;
    background-color: #1F2937;
    color:  #f9faf8;
    font-size: 48px;
    font-weight: bold;
}

.main-text {
    display: flex;
    flex-basis: 300px;
    flex-direction: column;
    text-align: left;
    margin-right: 40px;
    
}

.main-text p {
    font-family: 'Roboto',Arial;
    font-size:  18px;
    color: #e5e7eb;
}

.main-text h1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0;
}

.main button{
    display: block;
    text-align: center;
    background: #3882f6;
    padding: 10px;
    color: #fff;
    border-radius:  6px;
    border: none;

}

.main-image img {
    width: 400px;
    height: 300px; 
}

/* Info Area */

.info {
    align-items: center;
}

.info-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.info-content img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    border: 3px solid #1F2937;
    margin: 5px 15px 0px 15px; 
}
/* Quote Area */

.quote {
    display: flex;
    flex-direction: column;
    padding: 0 200px;
    background-color: #e5e7eb;
}

.quote p {
    font-size: 36px; 
    color: #1F2937;
    font-weight: lighter;
    font-family: 'Roboto', arial;
}

.quote b {
    font-family: 'Roboto', arial;
    text-align: right;
    padding-bottom: 20px;
    padding-right: 10px;
}